<div class="row">
	<div class="col-md-6">
		<div>
			<h1 class="h1-responsive font-bold wow fadeInLeft" data-wow-delay="0.3s">Nós <i _ngcontent-c4="" aria-hidden="true" class="fa fa-heart"></i> CashBack</h1>
			<hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
      <h6 class="wow fadeInLeft" data-wow-delay="0.3s" style="color: #0f0f0f;line-height: 2em;">
        Quem não gosta de receber de volta parte do dinheiro de suas compras, não é mesmo? Se você, assim como a gente, adora essa ideia, o BackCash é o seu lugar!
      </h6>
      <h6 class="wow fadeInLeft" data-wow-delay="0.3s" style="color: #0f0f0f;line-height: 2em;">
        Aqui você encontra as melhores dicas para aproveitar ao máximo o sistema de #cashback.
      </h6>
      <h6 class="wow fadeInLeft" data-wow-delay="0.3s" style="color: #0f0f0f;line-height: 2em;">
        Preencha o formulário ao lado para baixar gratuitamente nosso e-book que explica como funciona. Não perca tempo! Comece a economizar dinheiro a cada compra!
      </h6>
			<br>
		</div>
	</div>

	<div class="col-md-4">
		<%= render 'leads/lead_form', :locals => { :lead => @lead } %>
	</div>
</div>